/* Start Global Rules  */

:root {
  --primary-color: white;
  --secondary-color: #2196f3;
  --hover-color: #1787e0;
  --text-color: #661.8;
  --transition-time: 0.4s;
  --section-padding: 50px 0;
}

* {
  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screen  */

@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen  */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screen  */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules  */

/* Start Components */
.special-heading {
  border: 2px solid black;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  width: fit-content;
  padding: 15px;
  margin: 60px auto;
  transition: var(--transition-time);
  animation: heading-color 0.5s linear forwards;
}

.special-heading:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  transition-delay: 0.5s;
}

.special-heading::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -30px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--secondary-color);
}

.special-heading::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -30px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--secondary-color);
}

.special-heading:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.special-heading:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

/* @media(max-width:767px) {
  .special-heading {
    font-size: 18px;
    margin: 30px auto;
  }
} */

/* End Components */

/* Start header  */

header {
  background-color: var(--primary-color);
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

header .logo {
  color: var(--secondary-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
}

header .main-nav {
  display: flex;
}

@media (max-width: 767px) {
  header .main-nav {
    margin: auto;
  }
}

header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  color: black;
  font-size: 18px;
  padding: 0 30px;
  transition: var(--transition-time);
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  header .main-nav > li > a {
    font-size: 15px;
    padding: 10px;
    height: 40px;
  }
}

header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: -100%;
  background-color: var(--secondary-color);
  transition: var(--transition-time);
}

header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--secondary-color);
}

header .main-nav > li > a:hover::before {
  left: 0;
}

/* Start mega menu  */
header .main-nav .mega-menu {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--secondary-color);
  transition: var(--transition-time);
  z-index: -1;
  gap: 40px;
  top: calc(100% + 20px);
  opacity: 0;
  border-top: 1px solid #ddd;
}

header .main-nav li:hover:last-child .mega-menu {
  top: 100%;
  opacity: 1;
  z-index: 100;
}

@media (max-width: 767px) {
  header .main-nav .mega-menu {
    flex-direction: column;
    padding: 0px 30px;
    gap: 0px;
  }
}

header .mega-menu .mega-image img {
  max-width: 100%;
}

@media (max-width: 992px) {
  header .mega-menu .mega-image img {
    display: none;
  }
}

header .mega-menu .mega-links {
  min-width: 250px;
  flex: 1;
}

header .mega-menu .mega-links li {
  position: relative;
  font-size: 18px;
  padding: 22px 0;
  overflow: hidden;
  min-width: 250px;
}

header .mega-menu .mega-links li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  top: 0;
  left: 0;
  z-index: -1;
  transition: var(--transition-time);
}

header .mega-menu .mega-links li:hover::before {
  width: 100%;
}

header .mega-menu .mega-links li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

@media (max-width: 767px) {
  header .mega-menu .mega-links:first-of-type li:last-child {
    border-bottom: 1px solid #ddd;
  }
}

header .mega-menu .mega-links li > a {
  color: var(--secondary-color);
  font-weight: 500;
  margin-left: 10px;
}

header .mega-menu .mega-links li > a > i {
  font-size: 20px;
  margin-right: 10px;
}

/* End mega menu  */

/* End header  */

/* Start landing page */

.landing-page {
  position: relative;
}

.landing-page::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ecececef;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing-page .container {
  min-height: calc(100vh - 72px);
  /* min-height: calc(100vh - 72px); */
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing-page .text-landing {
  flex: 1;
  /* max-width: 500px; */
}

@media (max-width: 992px) {
  .landing-page .text-landing {
    text-align: center;
  }

  .landing-page .container {
    padding-bottom: 60px;
  }
}

.landing-page .text-landing h1 {
  font-size: 40px;
  margin: 0;
}

@media (max-width: 767px) {
  .landing-page .text-landing h1 {
    font-size: 30px;
  }
}

.landing-page .text-landing p {
  font-size: 24px;
  line-height: 1.7;
  color: var(--text-color);
  max-width: 500px;
  margin: 5px 0 0;
}

@media (max-width: 767px) {
  .landing-page .text-landing p {
    font-size: 18px;
  }
}

.landing-page .image-landing img {
  width: 600px;
  position: relative;
  transition: var(--transition-time);
  animation: up-and-down 5s linear infinite;
}

@media (max-width: 992px) {
  .landing-page .image-landing {
    display: none;
  }

  .landing-page .text-landing p {
    margin: auto;
  }
}

.landing-page .go-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  transition: var(--transition-time);
}

.landing-page i {
  animation: bouncing 1.5s infinite;
  color: var(--hover-color);
}

.landing-page i:hover {
  color: var(--hover-color);
}

/* End landing page */

/* Start Articles  */
.articles {
  padding: var(--section-padding);
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .box-articles {
  background-color: var(--primary-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--transition-time), box-shadow var(--transition-time);
  

}

.articles .box-articles:hover  {
transform: translateY(-10px);
box-shadow:0 0 15px rgba(0, 0, 0, 0.6); ;

}


.articles .box-articles img {
  width: 100%;
  max-width: 100%;
  max-height:350px;
}

.articles .articles-text {
  padding:  20px;
  border-bottom: 1px solid #ccc;
}

.articles .articles-text h3 {
  margin:0 0 10px;

}

.articles .articles-text p {
  color: var(--text-color);
  line-height: 1.8;
  margin: 0;

}

.articles .read-articles {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.articles .read-articles a {
  font-size: 15px;
  font-weight: bold;
  color: var(--secondary-color);
}

.articles .read-articles i {
  font-size: 18px;
  color: var(--secondary-color);
  
  
}

.articles .box-articles:hover .read-articles i {
  animation: arrow-articles 1s linear infinite;
}

/* End Articles  */

/* Start Animations  */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 15px;
    height: 15px;
  }
  100% {
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0%;
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 15px;
    height: 15px;
  }
  100% {
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0%;
  }
}

@keyframes  arrow-articles {
  50% {
   transform: translateX(10px);
  }
 
}

/* End Animations  */
